.content {
  display: flex;
  margin: 60px auto 0;
  align-items: center;
}

.customer-container,
.address-container {
  height: calc(100vh - 68px);
  overflow-y: scroll;
}

.customer-container {
  flex: 1;
}

.address-container {
  flex: 2;
}