<div class="card">
    <div class="data-point">
        <div class="heading">
            Name
        </div>
        <div>
            {{customer.name}}
        </div>
    </div>
    <div class="data-point">
        <div class="heading">
            Age
        </div>
        <div>
            {{customer.age}}
        </div>
    </div>
    <div class="data-point">
        <div class="heading">
            Gender
        </div>
        <div>
            {{customer.gender}}
        </div>
    </div>
</div>