<div class="card">
    <div class="data-point">
        <div class="heading">
            Name
        </div>
        <div>
            {{details.name}}
        </div>
    </div>
    <div class="data-point">
        <div class="heading">
            Age
        </div>
        <div>
            {{details.age}}
        </div>
    </div>
    <div class="data-point">
        <div class="heading">
            Gender
        </div>
        <div>
            {{details.gender}}
        </div>
    </div>
</div>