<ng-container *ngIf="selectedCustomer">
  <app-loader *ngIf="(loadingAddress$ | async)"></app-loader>
  <div *ngIf="!(loadingAddress$ | async)  && !(error$ | async) else error">
    <h2> Addresses of {{selectedCustomer.name}}</h2>
    <div class="address-list" *ngIf="(addressList$ | async).length; else noAddress">
      <app-address-card *ngFor="let address of addressList$ | async" [address]="address"></app-address-card>
    </div>
    <ng-template #noAddress>
      <h2>No Address Found</h2>
    </ng-template>
  </div>
  <ng-template #error>
    <h2>{{(error$ | async)?.message}}</h2>
  </ng-template>
</ng-container>